<p>
  <%= apphelp_view_hint( :xml_import_help_1, HelpController ) %>
</p>

<ul>
  <li><%= apphelp_view_hint( :xml_import_help_2, HelpController ) %></li>
  <li><%= apphelp_view_hint( :xml_import_help_3, HelpController ) %></li>
  <li><%= apphelp_view_hint( :xml_import_help_4, HelpController ) %></li>
  <li><%= apphelp_view_hint( :xml_import_help_5, HelpController ) %></li>
  <li><%= apphelp_view_hint( :xml_import_help_6, HelpController ) %></li>
</ul>