<div class="signin">

  <h1>
    <%= apphelp_view_hint( :welcome, nil,
                           :site_name => apphelp_site_name ) %>
  </h1>

  <p>
<% if User.count.zero? -%>
    <%= apphelp_view_hint( :initial_account ) %>
<% else -%>
    <%= apphelp_view_hint( :intro, nil,
                           :help_indicator => help_link( :sign_in ), )%>
<% end -%>
  </p>

  <%= error_messages_for @signin %>
  <%= form_for( @signin, { :url => { :action => 'create' }, :html => { :novalidate => "true", :autocomplete => 'on' } } ) do | f | %>

    <table class="signin">
      <tr>
        <th><%= image_tag( 'trackrecord/openid_med_logo_text.png', { :size => '84x28', :alt => 'OpenID logo' } ) %></th>
        <td>
          <%= f.text_field( :identity_url, { :type => :url, :autofocus => true } ) %>
        </td>
      </tr>

      <tr>
        <td colspan="2" id="or">
          <%= apphelp_view_hint( :or ) %>
        </td>
      </tr>

      <tr>
        <th>
          <%= f.label( :email ) %>
        </th>
        <td>
          <%= f.text_field( :email, { :type => :email } ) %>
        </td>
      </tr>
      <tr>
        <th>
          <%= f.label( :password ) %>
        </th>
        <td>
          <%= f.password_field( :password ) %>
        </td>
      </tr>
<% if User.count.zero? -%>
      <tr>
        <th>
          <%= f.label( :password_confirmation ) %>
        </th>
        <td>
          <%= f.password_field( :password_confirmation ) %>
        </td>
      </tr>
<% end -%>

      <tr>
        <td colspan="2" id="submit">
<% if User.count.zero? -%>
          <%= f.submit apphelp_view_hint( :submit_initial ),
                       :disable_with => apphelp_view_hint( :submit_initial_disabled ) %>
<% else -%>
          <%= f.submit apphelp_view_hint( :submit_normal ),
                       :disable_with => apphelp_view_hint( :submit_normal_disabled ) %>
<% end -%>
        </td>
      </tr>
    </table>

  <% end %>

</div>