<h1>Welcome to TrackRecord</h1>

<p>
  To use the service you must sign in.
  Please enter your OpenID into the text field below.
</p>

<table class="openid">
  <tr>
    <td><%= image_tag( 'trackrecord/openid_med_logo_text.png', { :size => '84x28', :alt => 'OpenID logo' } ) %></td>
    <td>
      <%= form_for( :session, { :url => { :action => 'create' } } ) do %>
        <label for="openid_url">&nbsp;</label>
        <%= text_field_tag "openid_url" %>
        &nbsp;
        <%= submit_tag 'Sign in', :disable_with => "Signing in, please wait&hellip;" %>
      <% end %>
    </td>
  </tr>
</table>

<h2 id="item_breakdown_heading">Help</h2>

<div id="item_breakdown_contents">
  <p>
    This site uses <a href="http://openid.net/">OpenID</a> for signing in.
    An OpenID is a globally unique way for you to identify yourself to any
    OpenID-aware web site. You don't need to create a new user name and
    password for such sites &ndash; just use your OpenID.
  </p>

  <ul>
    <li>
      <p>
        If you already have an OpenID, sign up by entering it into the form above.
        You must have told your system administrator about your OpenID first as
        <strong>only people previously authorised by the administrator are allowed
        access</strong>.
      </p>
    </li>
    <li>
      <p>
        If you need to obtain an OpenID, you can use various providers - see
        <%= auto_link( 'http://openid.net/get-an-openid/' ) %> for details.
      </p>
    </li>
  </ul>

  <h3>For life, not just for Christmas!</h3>

  <p>
    OpenIDs are kept for life. Your provider will let you delete your OpenID
    to invalidate it, but the user name is remembered so that nobody can ever
    use it again. This prevents someone from impersonating you, either
    accidentally or maliciously, by choosing the same user name from the same
    provider.
  </p>

  <h3>Signing in</h3>

  <p>
    Fill in your OpenID above and submit it with the "Sign in" button. You may
    be sent back to your OpenID provider to sign in there and your provider may
    double-check that you are happy to let TrackRecord remember your OpenID.
  </p>
  
  <p>
    Most providers let you decide if you want to stay logged in with them. If
    you do this then entering your OpenID into the TrackRecord sign-in form
    will grant you immediate access. This is convenient, but only stay logged
    in with your provider if you are <em>absolutely sure</em> that your
    computer and web browser are private, secure and only used by you.
  </p>

  <h3>Further information</h3>

  <p>
    Please visit the OpenID web site at <%= auto_link( 'http://openid.net/' ) %>.
  </p>
</div>