      <h1><%= apphelp_heading() %></h1>

<% if ( Project.active.count.zero? ) -%>
      <p>
        There are no projects defined. You must
        <%= link_to( 'create at least one', new_project_path() ) %> before you
        can import any tasks.
      </p>
<% else -%>
      <%= form_for( :import, { :url => { :action => 'create' }, :html => { :id => 'import', :multipart => true } } ) do | f | %>

        <p>
          TrackRecord can import tasks <%= help_link( :xml_import ) %> from XML
          format files exported by planning applications such as
          <a href="http://sourceforge.net/projects/projectlibre/">ProjectLibre</a>,
          <a href="http://sourceforge.net/projects/openproj/">OpenProj</a>
          or <a href="http://office.microsoft.com/project/">Microsoft Project</a>.
        </p>

        <p>
          Choose an XML file stored locally on your computer using
          the button below, then use the "Analyse" button to continue. Please
          be patient. Large project files can take a while to upload and analyse.
          To reduce upload time, <a href="http://www.gzip.org/">GZip</a> the XML
          file first.
        </p>

        <%= f.file_field 'xmlfile' %>
        <%= f.submit( 'Analyse', { :name => 'import[analyse]', :disable_with => 'Analysing...' } ) %>

      <% end %>
<% end -%>
    
      <p>
        <%= link_to( 'Cancel and return home', home_path() ) %>
      </p>