    <h1><%= apphelp_heading() %></h1>
    
    <h2><%= h( @record.title ) %> (<%= apphelp_commit_label( @record ) %>)</h2>

<%= render( :partial => 'shared/task_info', :locals => { :task => @record } ) %>

<% if ( @current_user.privileged? ) -%>
    <p>
      Note that managers and administrators may commit hours against
      tasks even if not associated with them. All commits are recorded
      in the <%= link_to( 'audit trail', audits_path() ) %>.
    </p>

    <div class="display_actions">
      <%=
          render(
            :partial => 'shared/report_button',
            :locals  => {
              :user => @current_user,
              :item => @record
            }
          )
      %>,
<%   if ( @current_user.admin? or ( @current_user.manager? and @record.active ) ) %>
      <%= link_to( 'edit this task', edit_task_path( @record ) ) %>,
<%   end -%>
      <%= link_to( 'list tasks', tasks_path() ) %>
      or <%= link_to( 'return home', home_path() ) %>
    </div>
<% end -%>