<h1>Delete report <%= @record.title %>?</h1>

<%= image_tag( 'trackrecord/warning.png', { :size => '96x84', :alt=>'!', :class=>'warning' } ) %>
<h2>Warning!</h2>

<%= form_for( :saved_report, :url => { :action => 'destroy', :id => @record.id }, :html => { :method => 'delete' } ) do | f | %>

  The action cannot be undone.

  <br style="clear: both" /><br />

  <div align="center">
    <%= f.submit( 'Delete report', { :disable_with => 'Deleting...' } ) %>
    or <%= link_to( 'cancel and list reports', user_saved_reports_path( @record.user ) ) %>.
  </div>
<% end %>

<p>
</p>