<%
  # Partial to include a table for editing basic user information - name,
  # e-mail address, user code and identity URL / password, for either the 'new'
  # or 'edit' case. Render with:
  #
  #   render :partial => "credentials", :locals => { :f => form }
  #
  # ...where 'form' is the builder instance, in form_for ... { | form | ... }.
  #
  # No permissions checks are performed within the view. Only render if the
  # user will have permission to alter the presented data.
-%>
    <table class="editing_table">
      <tr class="editing_row">
        <th><%= f.label :name, :required => true %> <%= apphelp_generic( :required ) %></th>
        <td><%= f.text_field( :name ) %></td>
      </tr>

      <tr class="editing_row">
        <th><%= f.label :email %> <%= apphelp_generic( :required )%></th>
        <td><%= f.text_field( :email, :type => :email ) %></td>
      </tr>

      <tr class="editing_row">
        <th><%= f.label( :code ) %> <%= apphelp_generic( :unsure ) %></th>
        <td><%= f.text_field( :code ) %></td>
      </tr>

      <tr class="editing_row">
        <th>&nbsp;</th><td>&nbsp;</td>
      </tr>

      <tr class="editing_row">
        <th><%= f.label( :identity_url ) %> <%= apphelp_generic( :optional ) %></th>
        <td><%= f.text_field( :identity_url, :type => :url ) %></td>
      </tr>
<% if @user.has_validated_password? -%>
      <tr class="editing_row">
        <th><%= f.label( :old_password ) %> <%= apphelp_generic( :if_changing ) %></th>
        <td><%= f.password_field( :old_password ) %></td>
      </tr>
      <tr class="editing_row">
        <th><%= f.label( :new_password ) %> <%= apphelp_generic( :can_be_blank ) %></th>
        <td>
          <%= f.password_field( :new_password ) %>
<% if @suggestion.present? && @current_user.admin? && @current_user != @user -%>
          <small><%= apphelp_view_hint( :suggestion, UsersController, :suggestion => @suggestion )%></small>
<% end -%>
        </td>
      </tr>
      <tr class="editing_row">
        <th><%= f.label( :new_password_confirmation ) %></th>
        <td><%= f.password_field( :new_password_confirmation ) %></td>
      </tr>
<% else -%>
      <tr class="editing_row">
        <th><%= f.label( :password ) %> <%= apphelp_generic( :optional ) %></th>
        <td>
          <%= f.password_field( :password) %>
<% if @suggestion.present? && @current_user.admin? -%>
          <small><%= apphelp_view_hint( :suggestion, UsersController, :suggestion => @suggestion )%></small>
<% end -%>
        </td>
      </tr>
      <tr class="editing_row">
        <th><%= f.label( :password_confirmation ) %></th>
        <td><%= f.password_field( :password_confirmation ) %></td>
      </tr>
<% end -%>
<% if @current_user.admin? && @user != @current_user -%>
      <tr class="editing_row">
        <th>&nbsp;</th>
        <td>
          <%= f.check_box( :must_reset_password, :disabled => @user.new_record? ) %>
          <%= f.label( :must_reset_password, :disabled => @user.new_record? ) %>
          <br /><br />
          <small>
            <%= apphelp_view_hint( :passwords_are_optional ) %>
          </small>
        </td>
      </tr>
<% end -%>
    </table>