    <h2>Basic information</h2>

<%
  # Managers can edit anything within their own account, but only edit the
  # user code for any other accounts. The Controller allows full access and
  # the Controller/Model combo prevent attempts to write to fields that a
  # manager shouldn't alter; we need to reflect those restrictions in the view.

  if @user.id == @current_user.id
-%>
<%= render :partial => "credentials", :locals => { :f => f } %>
<% else -%>
    <table class="editing_table">
      <tr class="editing_row">
        <th><%= f.label :name %> <%= apphelp_generic( :required ) %></th>
        <td><%= h( @user.name )%></td>
      </tr>

      <tr class="editing_row">
        <th><%= f.label :email %> <%= apphelp_generic( :required )%></th>
        <td><%= h( @user.email )%></td>
      </tr>

      <tr class="editing_row">
        <th><%= f.label( :code ) %> <%= apphelp_generic( :unsure ) %></th>
        <td><%= f.text_field( :code ) %></td>
      </tr>

      <tr class="editing_row">
        <th>&nbsp;</th><td>&nbsp;</td>
      </tr>

      <tr class="editing_row">
        <th><%= f.label( :identity_url ) %></th>
        <td><%= h( @user.identity_url ) %></td>
      </tr>
<% if @user.has_validated_password? -%>
      <tr class="editing_row">
        <th><%= f.label( :password ) %></th>
        <td><%= apphelp_view_hint( :password_is_set ) %></td>
      </tr>
      <tr class="editing_row">
        <th>&nbsp;</th>
        <td>
          <%= f.check_box( :must_reset_password, :disabled => true ) %>
          <%= f.label( :must_reset_password, :disabled => true ) %>
        </td>
      </tr>
<%   end -%>
    </table>
<% end -%>

    <h2>Security</h2>

    <table class="editing_table">
<% unless( @user.admin? ) -%>
      <tr class="editing_row">
        <th>Tasks the user is permitted to see</th>
        <td>
<%=
  taskhelp_degrading_selector(
    :user_permitted_task_list,
    { :form => f, :user => @user, :line_prefix => '          ' }
  )
%>
        </td>
      </tr>
<% end -%>

      <tr class="editing_row">
        <th>Account type</th>
        <td>
<%= userhelp_user_type_selector( f, @user ) %>
        </td>
      </tr>
    </table>

<% if( @user.id == @current_user.id ) %>
    <h2>Configuration</h2>
<%= fields_for :control_panel do | cp | -%>
    <%= error_messages_for :control_panel %>

    <table class="editing_table">
      <tr class="editing_row">
        <th>Tasks added to new timesheets by default</th>
        <td>
<%=
  taskhelp_degrading_selector(
    :user_default_task_list,
    { :form => cp, :user => @user, :line_prefix => '          ' }
  )
%>
        </td>
      </tr>

      <tr class="editing_row">
        <th>Project assigned to new tasks by default</th>
        <td>
<%= userhelp_default_project_selector( @user ) %>
        </td>
      </tr>

      <tr class="editing_row">
        <th>Customer assigned to new projects by default</th>
        <td>
<%= userhelp_default_customer_selector( cp, @user ) %>
        </td>
      </tr>
    </table>
<% end -%>
<% end -%>
