    <h2>Basic information</h2>

    <table class="editing_table">
      <tr class="editing_row">
        <th>Full name (required)</th>
        <td><%= f.text_field( :name ) %></td>
      </tr>

      <tr class="editing_row">
        <th>Contact e-mail address (required)</th>
        <td><%= f.text_field( :email ) %></td>
      </tr>

      <tr class="editing_row">
        <th>User code (leave as-is if unsure)</th>
        <td><%= f.text_field( :code ) %></td>
      </tr>
    </table>

<% unless ( @current_user.nil? or @current_user.name.blank? ) -%>
    <h2>Configuration</h2>
<%= fields_for :control_panel do | cp | -%>
    <%= error_messages_for :control_panel %>

    <table class="editing_table">
      <tr class="editing_row">
        <th>Tasks added to new timesheets by default</th>
        <td>
<%=
  taskhelp_degrading_selector(
    :user_default_task_list,
    { :form => cp, :user => @user, :line_prefix => '          ' }
  )
%>
        </td>
      </tr>
    </table>
<% end -%>
<% end -%>