<h1>Delete user<%= @record.name.nil? or @record.name.empty? ? '' : " '#{ h( @record.name ) }'" %>?</h1>

<%= image_tag( 'trackrecord/drawing.png', { :size => '96x84', :align => 'left', :alt => '!', :style => 'padding-right: 5px;' } ) %>
<h2>Warning!</h2>

<% form_for( :user, :url => { :action => 'delete_confirm', :id => @record.id } ) do | f | %>

  Only use the 'delete' button if you are <strong>absolutely sure</strong>
  that you wish to delete the user and <em>all</em> of their timesheets and
  account configuration data. <strong>The action cannot be undone.</strong>

  <br clear="all" /><br />

  <div align="center">
    <%= f.submit( 'Delete user', { :disable_with => 'Deleting...' } ) %>
  </div>
<% end %>

<p>
  <%= link_to( 'Cancel and show details', @record      ) %> |
  <%= link_to( 'Cancel and list users',   users_path() ) %>
</p>