<div class="icon_page warning">

  <h1>Delete user<%= @user.name.blank? ? '' : " '#{ @user.name }'" %>?</h1>
  <h2>Warning!</h2>

  <p>
    Only use the 'delete' button if you are <strong>absolutely sure</strong>
    that you wish to delete the user and <em>all</em> of their timesheets and
    account configuration data. <strong>The action cannot be undone.</strong>
  </p>

  <div class="centred">
    <%= form_for( :user, :url => { :action => 'delete_confirm', :id => @user.id } ) do | f | %>
      <%= f.submit( 'Delete user', { :disable_with => 'Deleting...' } ) %>
    <% end %>
  </div>

  <p>
    <%= link_to( 'Cancel and show details', @user        ) %> |
    <%= link_to( 'Cancel and list users',   users_path() ) %>
  </p>

</div>