    <h1>Welcome</h1>

    <div id="home_general">
      <h2>General options</h2>

      <ul>
        <li><%= link_to( 'Enter timesheets',                new_timesheet_path()                ) %></li>
        <li><%= link_to( 'Manage timesheets',                  timesheets_path()                ) %></li>
        <li><%= link_to( 'Create a report',         new_user_saved_report_path( @current_user ) ) %></li>
        <li><%= link_to( 'Manage reports',             user_saved_reports_path( @current_user ) ) %></li>
        <li><%= link_to( 'Change account settings',             edit_user_path( @current_user ) ) %></li>
      </ul>
    </div>

<% if ( @current_user.restricted? ) -%>
    <div id="home_management">
      <h2>Searchable lists</h2>

      <ul>
        <li><%= link_to( 'List assigned tasks',           tasks_path() ) %></li>
        <li><%= link_to( 'List associated projects',   projects_path() ) %></li>
        <li><%= link_to( 'List associated customers', customers_path() ) %></li>
      </ul>
    </div>
<% end -%>

<% if ( @current_user.manager? ) -%>
    <div id="home_management">
      <h2>Management options</h2>

      <ul>
        <li><%= link_to( 'Manage customers',                       customers_path() ) %></li>
        <li><%= link_to( 'Manage projects',                         projects_path() ) %></li>
        <li><%= link_to( 'Manage tasks',                               tasks_path() ) %></li>
        <li><%= link_to( 'Manage users',                               users_path() ) %></li>
        <li><%= link_to( 'Bulk task import',                new_task_imports_path() ) %></li>
        <li><%= link_to( 'Bulk timesheet commit', new_timesheet_force_commit_path() ) %></li>
      </ul>

      <p>
        Create one or more customers, then create projects and assign
        them to customers, then create tasks and assign them to projects.
      </p>
    </div>

    <div id="home_admin">
      <h2>Audit trail</h2>

      <ul>
        <li><%= link_to( 'Raw audit data', audits_path() ) %></li>
      </ul>
    </div>
<% end -%>

<div class="float_clear"></div>