<% unless ( @current_user.admin? ) -%>
    <p>Action not permitted</p>
<% else -%>
    <h1>Create new account</h1>

    <%= error_messages_for :user %>
    <%= form_for( @user ) do | f | %>
      <%= f.hidden_field( :lock_version ) %>

<%= render( :partial => 'admin_edit', :locals => { :f => f } ) -%>

      <p>
        <%= check_box_tag( 'notify_user', '1', true ) %>
        <em><%= label_tag( 'notify_user', apphelp_view_hint( :notify_new_by_email ).html_safe() ) %></em>
        <br /><br />
        <%= f.submit( 'Create', { :disable_with => 'Creating...' } ) %>
      </p>
    <% end %>

    <p>
      <%= link_to 'Cancel', users_path %>
    </p>
<% end -%>