    <h1>User account details</h1>

    <h2>Basic information</h2>

    <table class="display_table">
      <tr class="display_row">
        <th>Full name</th>
        <td><%= h( @user.name ) %></td>
      </tr>

      <tr class="display_row">
        <th>Contact e-mail address</th>
        <td><%= h( @user.email) %></td>
      </tr>

      <tr class="display_row">
        <th>Account creation date</th>
        <td><%= @user.created_at %></td>
      </tr>

      <tr class="display_row">
        <th>User code</th>
        <td><%= h( @user.code ) %></td>
      </tr>

      <tr class="display_row">
        <td colspan="2"><h2>Security</h2></td>
      </tr>

      <tr class="display_row">
        <th>Account type</th>
        <td><%= h( @user.user_type ) %></td>
      </tr>

<% if ( @user.restricted? ) -%>
      <tr class="display_row">
        <th>Assigned tasks</th>
        <td>
          <%= apphelp_object_list( @user.tasks ) %>
        </td>
      </tr>
<% end -%>

      <tr class="display_row">
        <th>Active?</th>
        <td><%= @user.active ? 'Yes' : 'No' %></td>
      </tr>

      <tr class="display_row">
        <th>Owned by you?</th>
        <td><%= @user.id == @current_user.id ? 'Yes' : 'No' %></td>
      </tr>

      <tr class="display_row">
        <td colspan="2"><h2>Configuration</h2></td>
      </tr>

      <tr class="display_row">
        <th>Default timesheet tasks</th>
        <td>
          <%= apphelp_object_list( @user.control_panel.tasks ) %>
        </td>
      </tr>

<% if ( @user.privileged? ) -%>
      <tr class="display_row">
        <th>Default project</th>
        <td><%= @user.control_panel.project ? link_to( h( @user.control_panel.project.title ), @user.control_panel.project ) : 'None' %></td>
      </tr>

      <tr class="display_row">
        <th>Default customer</th>
        <td><%= @user.control_panel.customer ? link_to( h( @user.control_panel.customer.title ), @user.control_panel.customer ) : 'None' %></td>
      </tr>
<% end -%>
    </table>

    <div class="display_actions">
      <%=
          render(
            :partial => 'shared/report_button',
            :locals  => {
              :user => @current_user,
              :item => @user
            }
          )
      %>,
<%   if ( @current_user.admin? ) -%>
      <%= link_to( 'edit this account', edit_user_path( @user ) ) %>,
      <%= link_to( 'list all accounts', users_path() ) %>
<%   else -%>
      <%= link_to( 'edit account', edit_user_path( @user ) ) %>
<%   end -%>
      or <%= link_to( 'return home', home_path() ) %>
    </div>