<%
  # List partial. Creates a table showing a list of items. Requires rendering
  # with local variables as follows:
  #
  #   model:          Name of model to list, lower case, singular - e.g. "user"
  #   collection:     The array of objects to list
  #   columns:        Describes the list header and contents columns in a
  #                   merged format based on arrays of hashes with all
  #                   properties needed for both the header and body rows, as
  #                   described for helper functions "apphelp_list_header" and
  #                   "apphelp_list_row".
  #   actions_method: Name of a helper method to call which will be passed the
  #                   current list item as an input parameter and must return
  #                   an array of action names, as described for
  #                   "apphelp_list_row". If omitted, there will be no actions
  #                   column added to the list table.
  #   index_method:   Optional name of a method to call with 'send' that's used
  #                   for the form submission path. Defaults to the pluralised
  #                   model name with "_path" (e.g. "timesheets_path").
  #   with_reports:   If 'true', a shared partial of "_report_<model>.html.erb"
  #                   is used to add to the end of the actions list, intended
  #                   for auto-report generation buttons. Omit or 'false' for
  #                   no such insertions.

  index_method = "#{ model.pluralize }_path" if defined?( index_method ).nil? || index_method.nil?
-%>
<% if ( collection.blank? ) -%>
      <p class="list_empty">
        No items <%= ( params[ :search ].blank? ) ? "to show" : "found" %>.
      </p>
<% else -%>
      <table class="list">
        <tr class="navigation">
          <td colspan="<%= columns.length + ( actions_method.nil? ? 0 : 1 ) %>">
            <table>
              <tr>
                <td class="navigation_per_page">
                  <%= form_tag( send( index_method ), { :method => 'get' } ) do %>
                    <%= content_tag( :label ) do %>
                      Items per page:
<%=
  select_tag(
    'entries',
    options_for_select(
      [ '10', '25', '50', '200', '500' ],
      params[ :entries ]
    ),
    :id => nil
  )
%>
                    <% end %>
                    <%= submit_tag( 'Change', { :name => 'entries_change' } ) %>
                  <% end %>
                </td>
                <td class="navigation_page_info">
                  <%= page_entries_info( collection ) %>
                </td>
                <td class="navigation_page_selection">
                  <%= will_paginate( collection ) %>
                </td>
              </tr>
            </table>
          </td>
        </tr>

<%= apphelp_list_header( columns, index_method, actions_method ) %>
<% collection.each do | item | -%>
<%= apphelp_list_row( columns, item, actions_method, with_reports ) %>
<% end -%>
      </table>
<% end -%>