<%
  # Task information partial. Creates a summary table describing a particular
  # task's current state. Render with the following locals:
  #
  #   task:  Task instance of interest.
  #
  # Also consults "@current_user".
  
  total         = task.total_worked()
  committed     = task.committed_worked()
  not_committed = total - committed

  ( restricted, unrestricted ) = task.split_user_types
-%>
    <table class="display_table indented">
      <tr class="display_row">
        <th>Created at</th>
        <td><%= task.created_at %></td>
      </tr>
      <tr class="display_row">
        <th>Code</th>
        <td><%= apphelp_h( task.code ) %></td>
      </tr>
      <tr class="display_row">
        <th>Description</th>
        <td><%= apphelp_h( task.description) %></td>
      </tr>
      <tr class="display_row">
        <th>Billable?</th>
        <td><%= apphelp_boolean( task.billable ) %></td>
      </tr>

      <tr><td>&nbsp;</td><td>&nbsp;</td></tr>

      <tr class="display_row">
        <th>Expected duration</th>
        <td><%= apphelp_hours( task.duration ) %></td>
      </tr>
      <tr class="display_row">
        <th>Committed time</th>
        <td><%= apphelp_hours( committed ) %></td>
      </tr>
      <tr class="display_row">
        <th>Not yet committed</th>
        <td><%= apphelp_hours( not_committed ) %></td>
      </tr>
      <tr class="display_row">
        <th>Total potentially worked</th>
        <td><%= apphelp_hours( total ) %></td>
      </tr>

      <tr><td>&nbsp;</td><td>&nbsp;</td></tr>

      <tr class="display_row">
        <th>Committed remaining</th>
        <td><%= taskhelp_remaining( committed, task.duration ) %></td>
      </tr>
      <tr class="display_row">
        <th>Committed overrun</th>
        <td><%= taskhelp_overrun( committed, task.duration ) %></td>
      </tr>
      <tr class="display_row">
        <th>Potential remaining</th>
        <td><%= taskhelp_remaining( total, task.duration ) %></td>
      </tr>
      <tr class="display_row">
        <th>Potential overrun</th>
        <td><%= taskhelp_overrun( total, task.duration ) %></td>
      </tr>

      <tr><td>&nbsp;</td><td>&nbsp;</td></tr>

      <tr class="display_row">
        <th>Associated project</th>
        <td><%= ( task.project ) ? link_to( h( task.project.title ), task.project ) : 'None' %></td>
      </tr>
      <tr class="display_row">
        <th>Associated customer</th>
        <td><%= ( task.project and task.project.customer ) ? link_to( h( task.project.customer.title ), task.project.customer ) : 'None' %></td>
      </tr>
<% if ( @current_user.privileged? ) -%>
      <tr class="display_row">
        <th>Associated restricted users</th>
        <td><%= apphelp_object_list( restricted, :name ) %></td>
      </tr>
      <tr class="display_row">
        <th>Other associated users</th>
        <td><%= apphelp_object_list( unrestricted, :name ) %></td>
      </tr>
<% end -%>
    </table>