<div class="icon_page warning">

  <h1>Delete customer<%= @record.title.blank? ? '' : " '#{ @record.title }'" %>?</h1>
  <h2>Warning!</h2>

  <p>
    Only use the 'delete' button if you are <strong>absolutely sure</strong>
    that you wish to delete the customer and, if the boxes next to the button
    are ticked, <em>all</em> of its associated projects and the tasks associated
    with those projects. <strong>The action cannot be undone.</strong>
  </p>

  <%= form_for( :customer, :url => { :action => 'destroy', :id => @record.id } ) do | f | %>
    <table class="for_layout">
      <tr>
        <td>
          <%= f.submit( 'Delete customer', { :disable_with => 'Deleting...' } ) %>
          &nbsp;
        </td>
        <td>
          <%= label_tag :destroy_projects do %>
            <%= check_box_tag( 'destroy_projects' ) %>
            Delete associated projects too?
          <% end %>
          <br />
          <%= label_tag :destroy_tasks do %>
            <%= check_box_tag( 'destroy_tasks' ) %>
            If deleting projects, also delete all associated tasks?
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>

  <p>
    <%= link_to( 'Cancel and show details',   @record          ) %> |
    <%= link_to( 'Cancel and list customers', customers_path() ) %>
  </p>

</div>