<h1>Delete customer<%= @record.title.nil? or @record.title.empty? ? '' : " '#{ h( @record.title ) }'" %>?</h1>

<%= image_tag( 'trackrecord/drawing.png', { :size => '96x84', :align => 'left', :alt => '!', :style => 'padding-right: 5px;' } ) %>
<h2>Warning!</h2>

<% form_for( :customer, :url => { :action => 'delete_confirm', :id => @record.id } ) do | f | %>

  Only use the 'delete' button if you are <strong>absolutely sure</strong>
  that you wish to delete the customer and, if the boxes next to the button
  are ticked, <em>all</em> of its associated projects and the tasks associated
  with those projects. <strong>The action cannot be undone.</strong>

  <br clear="all" /><br />

  <%= f.submit( 'Delete customer', { :disable_with => 'Deleting...' } ) %>
  <%= check_box_tag( 'destroy_projects' ) %>
  Delete associated projects too?
  <%= check_box_tag( 'destroy_tasks' ) %>
  If deleting projects, delete the tasks associated with those projects too?
<% end %>

<p>
  <%= link_to( 'Cancel and show details',   @record          ) %> |
  <%= link_to( 'Cancel and list customers', customers_path() ) %>
</p>