    <h1>Customer details</h1>
    
    <h2><%= h( @record.title ) %> (<%= apphelp_commit_label( @record ) %>)</h2>

    <table class="display_table indented">
      <tr class="display_row">
        <th>Created at</th>
        <td><%= @record.created_at %></td>
      </tr>
      <tr class="display_row">
        <th>Code</th>
        <td><%= apphelp_h( @record.code ) %></td>
      </tr>
      <tr class="display_row">
        <th>Description</th>
        <td><%= apphelp_h( @record.description ) %></td>
      </tr>
    </table>

<% if ( @current_user.privileged? ) -%>
    <p>
      The customer has <%= pluralize( @record.projects.count, 'associated project' ) %>.
<%   unless ( @record.projects.empty? ) -%>
      A summary is given below. For full details, see the
      <%= link_to( 'report generator', new_user_saved_report_path( @current_user ) ) %>.
<%   end -%>
    </p>

<%   unless ( @record.projects.empty? ) -%>
    <h2 id="item_breakdown_heading">Project list</h2>
    <div id="item_breakdown_contents">

<%     @record.projects.each do | project | -%>
      <h3>Project: <%= link_to( h( project.title ), project ) %></h3>

      <table class="display_table indented">
        <tr class="display_row">
          <th>Project code</th>
          <td><%= apphelp_h( project.code ) %></td>
        </tr>
        <tr class="display_row">
          <th>Tasks</th>
          <td>
<%       if ( project.tasks.empty? ) -%>
            None
<%       else -%>
<%         project.tasks.each do | task | %>
            <%= link_to( h( task.title ), task ) %><br />
<%         end -%>
<%       end -%>
          </td>
        </tr>
      </table>
<%     end -%>
<%   end -%>
    </div>

    <div class="display_actions">
      <%=
          render(
            :partial => 'shared/report_button',
            :locals  => {
              :user => @current_user,
              :item => @record
            }
          )
      %>,
<%   if ( @current_user.admin? or ( @current_user.manager? and @record.active ) ) %>
      <%= link_to( 'edit this customer', edit_customer_path( @record ) ) %>,
<%   end -%>
      <%= link_to( 'list customers', customers_path() ) %>
      or <%= link_to( 'return home', home_path() ) %>
    </div>
<% end -%>