<div class="icon_page warning">

  <h1>Delete project<%= @record.title.blank? ? '' : " '#{ @record.title }'" %>?</h1>
  <h2>Warning!</h2>

  <p>
    Only use the 'delete' button if you are <strong>absolutely sure</strong>
    that you wish to delete the project and, if the box next to the button is
    ticked, <em>all</em> of its associated tasks. <strong>The action cannot be
    undone.</strong>
  </p>

  <%= form_for( :project, :url => { :action => 'destroy', :id => @record.id } ) do | f | %>
    <%= f.submit( 'Delete project', { :disable_with => 'Deleting...' } ) %>
    <%= label_tag :destroy_tasks do %>
      <%= check_box_tag( 'destroy_tasks' ) %>
      Delete associated tasks too?
    <% end %>
  <% end %>

  <p>
    <%= link_to( 'Cancel and show details',  @record         ) %> |
    <%= link_to( 'Cancel and list projects', projects_path() ) %>
  </p>

</div>