<h1>Delete project<%= @record.title.nil? or @record.title.empty? ? '' : " '#{ h( @record.title ) }'" %>?</h1>

<%= image_tag( 'trackrecord/drawing.png', { :size => '96x84', :align => 'left', :alt => '!', :style => 'padding-right: 5px;' } ) %>
<h2>Warning!</h2>

<% form_for( :project, :url => { :action => 'delete_confirm', :id => @record.id } ) do | f | %>

  Only use the 'delete' button if you are <strong>absolutely sure</strong>
  that you wish to delete the project and, if the box next to the button is
  ticked, <em>all</em> of its associated tasks. <strong>The action cannot be
  undone.</strong>

  <br clear="all" /><br />

  <%= f.submit( 'Delete project', { :disable_with => 'Deleting...' } ) %>
  <%= check_box_tag( 'destroy_tasks' ) %>
  Delete associated tasks too?
<% end %>

<p>
  <%= link_to( 'Cancel and show details',  @record         ) %> |
  <%= link_to( 'Cancel and list projects', projects_path() ) %>
</p>