<%
  # Render with the following instance variables:
  #
  #   @errors         Usual Rails form submission errors hash
  #   @timesheet      Timesheet instance being edited
  #   @selected_rows  Array of row indices (0...n) at which the selection
  #                   checkboxes should be checked by default. Array may be
  #                   empty but may not be nil.
-%>
<h1><%= apphelp_heading() %></h1>

<% unless ( @errors.blank? ) -%>
  <div class="errorExplanation" id="errorExplanation">
    <h2>
      <%= "#{ pluralize( @errors.size, 'error' ) }" %>
      prohibited this timesheet from being saved
    </h2>

    <p>
      The following problems were encountered:
    </p>

    <ul>
<%   @errors.each do | error | -%>
      <li><%= h( error ) %></li>
<%   end -%>
    </ul>
  </div>
<% end -%>

<div id="custom"><%= form_for( @timesheet, { :html => { :autocomplete => 'off' } } ) do | f | %>
  <%= f.hidden_field( :lock_version ) %>
<%
  data = timesheethelp_week_selection( f, @timesheet )
  if ( data.empty? )
-%>
  <strong>Week <%= @timesheet.week_number %>, <%= @timesheet.year %></strong>
<% else -%>
  <%= data %>
  <%= f.submit( 'Alter', { :disable_with => 'Altering...' } ) %>
<% end -%>

  <p></p>
  <%= taskhelp_billable_help %> <%= taskhelp_active_help %>

  <p></p>
  <table class="editing_table ts_edit_table">
    <tr class="info">
      <th>
        <div style="display: inline-block;">
          <script type="text/javascript">
            check_box_toggle_field( 'toggle_check_boxes', 'checkbox' );
          </script>
          <br />
          <%= submit_tag( raw( '&nbsp;&uarr;&nbsp;' ), { :name => 'move_row_up', :title => 'Move selected rows up' } ) %><%= submit_tag( raw( '&nbsp;&darr;&nbsp;' ), { :name => 'move_row_down', :title => 'Move selected rows down' } ) %><%= submit_tag( 'Del', { :name => 'remove_row', :title => 'Delete selected rows' } ) %>
        </div>
        <div style="display: inline-block;">
          <select id="sort_by" name="sort_by">
            <option value="choose" disabled="disabled" selected="selected">Choose order...</option>
            <option value="rows_added">Order rows added</option>
            <option value="tasks_added">Order tasks added</option>
            <option value="task_code">Task code</option>
            <option value="task_title">Task title</option>
            <option value="associations">Customer/project</option>
          </select>
          <br />
          <%= submit_tag( 'Sort ascending', { :name => 'sort' } ) %>
        </div>
      </th>
<% TimesheetRow::DAY_ORDER.each do | day_number | -%>
      <th><% date = @timesheet.date_for( day_number, true ) -%>
        <%= date.strftime( '%a') %><br />
        <%= date.strftime( '%d-%b') %>
      </th>
<% end -%>
      <th>
        <%= @timesheet.date_for( TimesheetRow::DAY_ORDER.last, true ).strftime( '%Y') %>
        <br />
        Total
      </th>
    </tr>

<% sections_initialise_sections()
   @row_number   = -1
   @timesheet.timesheet_rows.all.each_index do | timesheet_row_index |
     @row_number += 1
     @timesheet_row = @timesheet.timesheet_rows[ timesheet_row_index ] -%>

<%   if ( sections_new_section?( @timesheet_row.task ) ) -%>
    <tr class="<%= cycle( 'even', 'odd' ) %>">
      <th colspan="8" class="ts_edit_heading">
        <%= sections_section_title() %>
      </th>
      <th class="total" id="section_total_<%= sections_section_index() %>"></th>
    </tr>
<%   end -%>

<%   if ( sections_new_group?( @timesheet_row.task ) ) -%>
    <tr class="even group_gap">
      <th colspan="8"></th>
      <td class="total"></td>
    </tr>
<%   end -%>

<%=
    render(
      :partial => 'timesheet_rows/edit',
      :locals  => {
        :timesheet_row       => @timesheet_row,
        :timesheet_row_index => @row_number,
        :selected_rows       => @selected_rows
      }
    )
%>
<% end -%>

    <tr class="<%= cycle( 'even', 'odd' ) %>">
      <th class="total">Total</th>

<% col_number = -1
   TimesheetRow::DAY_ORDER.each do | day_number |
   col_number += 1 -%>
      <td class="total" id="col_total_<%= col_number %>">
        <%= @timesheet.column_sum( day_number ).precision( 2 ) %>
      </td>
<% end -%>

      <th class="overall_total" id="overall_total"><%= h @timesheet.total_sum() %></th>
    </tr>
  </table>

  <p></p>
  <table class="editing_table">
    <tr class="top">
      <th class="left">
        Add rows
      </th>
      <td>&nbsp;&nbsp;</td>
      <td class="left">
<%
  data = taskhelp_degrading_selector(
    :timesheet_editor,
    { :form => f, :timesheet => @timesheet, :line_prefix => '        ' }
  )
-%>
<% if ( data.empty? ) -%>
        All tasks already included.
<% else -%>
<%= data %>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>
        <small>
          Rows are added to the end of the timesheet and, for multiple
          selections, added in the order listed above.
        </small>
<% end -%>
      </td>
    </tr>

    <tr>
      <td colspan="3">&nbsp;&nbsp;</td>
    </tr>

    <tr class="top">
      <th class="left">Description of week</th>
      <td>&nbsp;&nbsp;</td>
      <td class="left">
        <%= f.text_area( :description, { :cols => 80, :rows => 4 } ) %><br />
        <small>
          &nbsp;Descriptions are recommended but not mandatory.
        </small>
      </td>
    </tr>

    <tr>
      <th></th><td>&nbsp;&nbsp;</td><td></td>
    </tr>

    <tr class="top">
      <th class="left">Committed?</th>
      <td>&nbsp;&nbsp;</td>
      <td class="left">
<%= f.select( :committed, [ [ 'Yes', true ], [ 'No', false ] ] ) %>
        <b><i>Warning</i></b> &ndash; once committed, a timesheet cannot be edited again.
      </td>
    </tr>
  </table>

<%
  if ( @prev_week.nil? )
    prev_what = 'go to'
    prev_when = 'previous week'
  else
    prev_what = @prev_week[ :timesheet ].nil? ? 'use as template for' : 'edit'
    prev_when = "week #{ @prev_week[ :week_number ] }"
  end

  if ( @next_week.nil? )
    next_what = 'go to'
    next_when = 'previous week'
  else
    next_what = @next_week[ :timesheet ].nil? ? 'use as template for' : 'edit'
    next_when = "week #{ @next_week[ :week_number ] }"
  end
-%>
  <p></p>
  <table class="editing_table" style="width: 100%">
    <tr>
      <td class="left" style="width: 30%">
        <%= f.submit(
              raw( "&lt;&lt; Save and #{ prev_what } #{ prev_when }" ),
              {
                :name     => 'previous',
                :id       => nil,
                :disabled => ( @prev_week.nil? )
              }
            ) %>
      </td>
      <td class="centred" style="width: 40%">
        <%= f.submit( 'Save changes and exit',     { :disable_with => 'Saving...' } ) %>
        <%= f.submit( 'Save changes and continue', { :disable_with => 'Saving...' } ) %>
      </td>
      <td class="right" style="width: 30%">
        <%= f.submit(
              raw( "Save and #{ next_what } #{ next_when } &gt;&gt;" ),
              {
                :name     => 'next',
                :id       => nil,
                :disabled => ( @next_week.nil? )
              }
            ) %>
      </td>
    </tr>
  </table>

  <p class="centred">
    <%= link_to( 'Cancel and show overview', new_timesheet_path() ) %> or
    <%= link_to( 'cancel and show timesheet', timesheet_path( @timesheet ) ) %>
  </p>
<% end -%></div>