      <div class="list_titles">
        <div class="list_create">
          <h2><%= link_to( "Create new timesheet", new_timesheet_path() ) %></h2>
        </div>
        <h1><%= params[ :search ] ? 'Search results' : 'Manage timesheets' %></h1>
        <h2>Your timesheets</h2>
      </div>

      <h3 style="clear: both"><%= timesheethelp_commit_label( nil, false ) %></h3>

<%=
  render (
    {
      :partial => 'shared/list',
      :locals  =>
      {
        :model          => 'timesheet',
        :columns        => @columns,
        :collection     => @user_not_committed_timesheets,
        :actions_method => 'timesheethelp_actions',
        :with_reports   => false
      }
    }
  )
%>
      <h3><%= timesheethelp_commit_label( nil, true ) %></h3>

<%=
  render (
    {
      :partial => 'shared/list',
      :locals  =>
      {
        :model          => 'timesheet',
        :columns        => @columns,
        :collection     => @user_committed_timesheets,
        :actions_method => 'timesheethelp_actions',
        :with_reports   => false
      }
    }
  )
%>
<% if @current_user.privileged? -%>
      <h2>All other timesheets</h2>
      <h3><%= timesheethelp_commit_label( nil, false ) %></h3>

<%=
  render (
    {
      :partial => 'shared/list',
      :locals  =>
      {
        :model          => 'timesheet',
        :columns        => @columns,
        :collection     => @other_not_committed_timesheets,
        :actions_method => 'timesheethelp_actions',
        :with_reports   => false
      }
    }
  )
%>
      <h3><%= timesheethelp_commit_label( nil, true ) %></h3>

<%=
  render (
    {
      :partial => 'shared/list',
      :locals  =>
      {
        :model          => 'timesheet',
        :columns        => @columns,
        :collection     => @other_committed_timesheets,
        :actions_method => 'timesheethelp_actions',
        :with_reports   => false
      }
    }
  )
%>
<% end -%>

      <h2>Find timesheets</h2>

<%=
    render(
      :partial => 'shared/search',
      :locals  => {
        :path    => timesheets_path(),
        :prompt  => @current_user.privileged? ? 'Search years, week numbers and owner names' : 'Search years and week numbers',
        :dprompt => 'between timesheet start date',
        :years   => Timesheet.used_range()
      }
    )
%>