    <h1><%= apphelp_heading() %></h1>

    <p>
      This table shows all weeks in <strong><%= @year %></strong>.
      <%= link_to( 'Manage other timesheets here', timesheets_path() ) %>.
    </p>

    <br />
    <%= error_messages_for( :timesheet ) %>
    <table class="timesheet_chart_container">
      <tr>
        <td>
<%= timesheethelp_year_chart( @year ) %>
        </td>
      </tr>

      <tr>
        <td>
          <%= form_tag( new_timesheet_path(), { :method => :get } ) do %>

          <table class="display_actions" style="width: 100%">
            <tr>
              <td class="left">
                <%= submit_tag( raw( '&lt;&lt;' ), { :name => 'previous', :disabled => ( @year == @years.first ) } ) %>
              </td>
              <td class="centered">
                <b>View different year:</b>

<%=
  select(
    'menu',
    'year',
    @years.collect do | year |
      [ year, year ]
    end,
    {
      :selected => @year
    }
  )
%>

                <%= submit_tag( 'View' ) %>
              </td>
              <td class="right">
                <%= submit_tag( raw( '&gt;&gt;' ), { :name => 'next', :disabled => ( @year == @years.last ) } ) %>
              </td>
            </tr>
          </table>
          <% end %>
        </td>
      </tr>

    </table>

    <br />
    <ul>
      <li><span class="timesheet_committed">Green:</span> Committed &ndash; read-only
      <li><span class="timesheet_not_committed">Orange:</span> Not committed &ndash; editable
      <li>Otherwise: Each button starts an empty timesheet with a task list
          <%= link_to( 'found in your account settings', edit_user_path( @current_user) ) %>.
    </ul>