    <h1>Enter timesheets</h1>

    <p>
      The chart below shows all weeks in <%= @year %>.
      <span class="timesheet_committed">Green</span> entries show
      <span class="timesheet_committed">committed timesheets</span>
      and link to their details.
      <span class="timesheet_not_committed">Orange</span> entries show
      <span class="timesheet_not_committed">incomplete timesheets</span> 
      and link to their edit page. The other entries contain buttons which
      create new, empty timesheets using your
      <%= link_to( 'account settings', edit_user_path( @current_user) ) %> 
      to determine the initial task list.
    </p>

    <%= error_messages_for( :timesheet ) %>
    <div align="center">
      <table border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td colspan="3">
<%= timesheethelp_year_chart( @year ) %>
          </td>
        </tr>

        <tr>
          <td colspan="3">
            <% form_tag( new_timesheet_path(), { :method => :post } ) do %>

            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td align="left">
                  <%= submit_tag( '&lt;&lt;', { :name => 'previous', :disabled => ( @year == @years.first ) } ) %>
                </td>
                <td align="center">
                  <b>View different year:</b>

<%=
  select(
    'menu',
    'year',
    @years.collect do | year |
      [ year, year ]
    end,
    {
      :selected => @year
    }
  )
%>

                  <%= submit_tag( 'View' ) %> or <%= link_to( 'cancel', home_path() ) %>
                </td>
                <td align="right">
                  <%= submit_tag( '&gt;&gt;', { :name => 'next', :disabled => ( @year == @years.last ) } ) %>
                </td>
              </tr>
            </table>
            <% end -%>
          </td>
        </tr>

      </table>
    </div>