    <h1><%= apphelp_heading() %></h1>
      <b>
        Week <%= @timesheet.week_number %>,
        <%= h( @timesheet.year ) %> &ndash;
        <%= timesheethelp_commit_label( @timesheet ) %>
      </b>

      <p></p>
      <%= taskhelp_billable_help %> <%= taskhelp_active_help %>

      <p></p>
      <table class="display_table" style="width: 100%">
        <tr>
          <td class="left" style="width: 50%">
<% unless ( @prev_week.nil? ) -%>
            <%= link_to( "Show week #{ @prev_week[ :week_number ] }", timesheet_path( @prev_week[ :timesheet ] ) ) %>
<% end -%>
          </td>
          <td class="right" style="width: 50%">
<% unless ( @next_week.nil? ) -%>
            <%= link_to( "Show week #{ @next_week[ :week_number ] }", timesheet_path( @next_week[ :timesheet ] ) ) %>
<% end -%>
          </td>
        </tr>
      </table>

      <p></p>
      <table class="display_table ts_show_table">
        <tr class="info">
          <th></th>

<% TimesheetRow::DAY_ORDER.each do | day_number | -%>
          <th><% date = @timesheet.date_for( day_number, true ) -%>
            <%= date.strftime( '%a') %><br />
            <%= date.strftime( '%d-%b') %>
          </th>
<% end -%>

          <th>
            <%= @timesheet.date_for( TimesheetRow::DAY_ORDER.last, true ).strftime( '%Y') %>
            <br />
            Total
          </th>
        </tr>

<%
   @timesheet.timesheet_rows.all.each_with_index do | timesheet_row, timesheet_row_index |
     section, is_new_section, group, is_new_group = @sections.retrieve( timesheet_row.task.id.to_s )
-%>
<%   if ( is_new_section ) -%>
        <tr class="<%= cycle( 'even', 'odd' ) %>">
          <th colspan="8" class="ts_show_heading">
            <%= section.title( self ) %>
          </th>
          <th class="ts_show_section_total total" id="section_total_<%= section.identifier %>"></th>
        </tr>

<%   elsif ( is_new_group ) -%>
        <tr class="even group_gap">
          <th colspan="8"></th>
          <td class="total"></td>
        </tr>

<%   end -%>
<%=
    render(
      :partial => 'timesheet_rows/show',
      :locals  => {
        :section             => section,
        :timesheet_row       => timesheet_row,
        :timesheet_row_index => timesheet_row_index
      }
    )
%>

<% end -%>
        <tr class="<%= cycle( 'even', 'odd' ) %>">
          <th class="total">Total</th>

<% TimesheetRow::DAY_ORDER.each do | day_number | -%>
          <td class="total">
            <%= @timesheet.column_sum( day_number ) %>
          </td>
<% end -%>

          <td class="overall_total"><%= @timesheet.total_sum() %></td>
        </tr>
      </table>

      <dl>
        <dt>Description of week</dt>
        <dd>
          <%= timesheethelp_always_visible_description( @timesheet ) %>
        </dd>
      </dl>

      <p></p>
      <table class="display_table" style="width: 100%">
        <tr>
          <td class="left" style="width: 20%">
<% unless ( @prev_week.nil? ) -%>
            <%= link_to( "Show week #{ @prev_week[ :week_number ] }", timesheet_path( @prev_week[ :timesheet ] ) ) %>
<% end -%>
          </td>
          <td class="centred" style="width: 60%">
<% unless @timesheet.committed -%>
            <%= link_to( 'Edit this timesheet', edit_timesheet_path( @timesheet ) ) %>,
            <%= link_to( 'timesheet entry overview', new_timesheet_path() ) %>
<% else -%>
            <%= link_to( 'Timesheet entry overview', new_timesheet_path() ) %>
<% end -%>
            or <%= link_to( 'return home', home_path() ) %>
          </td>
          <td class="right" style="width: 20%">
<% unless ( @next_week.nil? ) -%>
            <%= link_to( "Show week #{ @next_week[ :week_number ] }", timesheet_path( @next_week[ :timesheet ] ) ) %>
<% end -%>
          </td>
        </tr>
      </table>