<%
  # Render with the following local variables:
  #
  #   section              Current TrackRecordSections::Section instance
  #   timesheet_row        TimesheetRow instance being edited on this row
  #   timesheet_row_index  Index of this row in the overall timesheet (0...n)
  #   selected_rows        Optional array of row indices (0...n) at which the
  #                        selection checkboxes should be checked by default.
-%>
    <tr class="ts_edit_row <%= cycle( 'even', 'odd' ) %>">
      <td class="ts_edit_task">
        <table style="width: 100%">
          <tr>
            <td style="width: 1px">
              <%=
                check_box_tag(
                  "operate_on_row_#{ timesheet_row.id }",
                  '1',
                  selected_rows.include?( timesheet_row.id ),
                  { :class => 'checkbox' }
                )
              %>
            </td>
            <td class="<%= taskhelp_billable_class( timesheet_row.task ) %> <%= taskhelp_active_class( timesheet_row.task ) %>">
              <%=
                label_tag(
                  "operate_on_row_#{ timesheet_row.id }",
                  apphelp_augmented_link( timesheet_row.task )
                )
              %>
            </td>
          </tr>
        </table>
      </td>

<% col_number = -1
   TimesheetRow::DAY_ORDER.each do | day_number |
     col_number += 1
     work_packet = WorkPacket.find_by_timesheet_row_id(
       timesheet_row.id,
       :conditions => { :day_number => day_number }
     )
-%>
      <td class="ts_edit_work">
<%=
    render(
      :partial => 'work_packets/edit',
      :locals  => {
        :section             => section,
        :timesheet_row       => timesheet_row,
        :timesheet_row_index => timesheet_row_index,
        :work_packet         => work_packet,
        :timesheet_col_index => col_number
      }
    )
%>
      </td>
<% end -%>

      <td class="ts_edit_total total" id="row_total_<%= timesheet_row_index %>">
        <%= timesheet_row.row_sum().precision( 2 ) %>
      </td>
    </tr>