<%-
# Based on "@report", render a comprehensive per-task, per-user report.
# Only render if the report's "user_details" flag is set.
-%>

<% if ( @report.filtered_tasks.empty? or @report.filtered_users.empty? ) -%>
    <h2 class="report_subtitle">
      Comprehensive report for <%= @report.display_range %>

      <div class="floated_link">
        <%= link_to( 'Alter report', edit_user_saved_report_path( :id => @saved_report.id, :user_id => @saved_report.user_id ) ) %>
      </div>
    </h2>

<%   if ( @report.filtered_users.empty? and not @report.users.empty? ) -%>
    <p>
      None of the selected users booked any hours against the reportable tasks
      within the time range specified.
    <p>
<%   else -%>
    <p>
      Cannot find any tasks or users for this report.
    </p>
<%   end -%>
<% elsif ( @report.user_details ) %>
    <!-- Per-task, per-user fully detailed report -->

    <h2 class="report_subtitle">
      Comprehensive report for <%= @report.display_range %>
      <%= ( @report.filtered_users.empty? ) ? '(all users)' : '(selected users only)' %>

      <div class="floated_link">
        <%= link_to( 'Alter report', edit_user_saved_report_path( :id => @saved_report.id, :user_id => @saved_report.user_id ) ) %>
      </div>
    </h2>

<%   if ( @report.filtered_tasks.empty? ) -%>
    <p>
      No tasks matching your report&rsquo;s specification can be found.
    </p>
<%   elsif ( not @report.has_rows? ) -%>
    <p>
      There are no non-zero totals for rows in the requested report.
    </p>
<%   else -%>
    <p></p>
    <table class="report display_table ts_show_table">

      <!-- Heading - show dates/totals based on report frequency -->

      <tr class="info">
        <th>&nbsp;</th>

<%     @report.each_column_range do | range | -%>
        <th>
          <span title="<%= apphelp_range_plain( range ) %>">
            <%= @report.column_heading( range ) %>
<%       if ( @report.partial_column?( range ) ) -%>
            <br />
            <em>(partial)</em>
<%       end -%>
          </span>
        </th>
<%     end -%>

        <th>Row total</th>
      </tr>

      <!-- Section and task list, date range breakdown -->

<%
       @report.each_row do | row, task |
         section, is_new_section, group, is_new_group = @report.retrieve( task.id.to_s )

         if ( is_new_section )
           row_class = cycle( 'even', 'odd' )
-%>
      <!-- New section -->

      <tr class="<%= row_class %>">
        <th class="ts_show_heading"><%= section.title( self ) %></th>
<%         @report.each_cell_for( section ) do | section_cell | -%>
        <th class="ts_show_heading ts_show_work"><%= reporthelp_hours( section_cell ) %></th>
<%         end -%>
        <th class="ts_show_heading ts_show_work"><%= reporthelp_hours( section, true ) %></th>
      </tr>
<%       elsif ( is_new_group ) -%>
      <!-- New group -->

      <tr class="even group_gap">
        <th colspan="<%= @report.column_count() + 2 %>"></th>
      </tr>

<%       end -%>
      <!-- Task cross-user data -->

<%       row_class = cycle( 'even', 'odd' ) -%>
      <tr class="ts_show_row <%= row_class %>">
        <td class="ts_show_task <%= taskhelp_billable_class( task ) %> <%= taskhelp_active_class( task ) %>">
          <%= apphelp_augmented_link( task ) %>
        </td>

        <!-- Task cross-user breakdown -->

<%       @report.each_cell_for( row ) do | cell | -%>
        <td class="ts_show_work"><%= reporthelp_hours( cell ) %></td>
<%       end -%>

        <!-- Task cross-user total -->

        <th class="ts_show_total total"><%= reporthelp_hours( row, true ) %></th>
      </tr>

      <!-- Task per-user data -->

<%       @report.each_user_on_row( row ) do | user, row_total_for_user | -%>
      <tr class="ts_show_row <%= row_class %>">
        <td class="ts_show_task ts_task_user_detail">
          &nbsp;&mdash;&nbsp;<%= user.name %>
        </td>

        <!-- Task per-user breakdown -->

<%         @report.each_cell_for_user_on_row( user, row ) do | cell_for_user | -%>
        <td class="ts_show_work ts_work_user_detail"><%= reporthelp_hours( cell_for_user ) %></td>
<%         end -%>

        <!-- Task per-user total -->

        <th class="ts_show_total ts_total_user_detail total"><%= reporthelp_hours( row_total_for_user, true ) %></th>
      </tr>
<%       end -%>
<%     end -%>

      <!-- Column totals -->

      <tr class="<%= cycle( 'even', 'odd' ) %>">
        <th class="total">Column total:</th>

<%     @report.each_column_total do | total | -%>
        <td class="total"><%= reporthelp_hours( total, true ) %></td>
<%     end -%>

        <td class="overall_total"><%= reporthelp_hours( @report, true ) %></td>
      </tr>
    </table>

<%   end -%>
<% end -%>