<%
  # Render an 'export as CSV' form for a task. Render with the following local
  # variables:
  #
  #   form_type: Must be ":task", to export the task summary report, or ":user",
  #              to export the user summary report - only valid if the report
  #              contains a non-empty user list.
-%>
    <%= form_for( :report, { :url => { :action => 'show', :format => 'csv' }, :method => :get } ) do | f | %>
      <%= hidden_field_tag( "#{ form_type }_report" ) %>

      <p></p>
      <%= submit_tag( "Export #{ form_type } report in CSV format" ) %></td>
      <%= check_box_tag( "include_title_#{ form_type }", '1', @exclude_title ? false : true ) %><%= label_tag( "include_title_#{ form_type }", 'Add title to first row' ) %>
    <% end %>