<%-
# Based on "@report", render a per-task report with 'export' button.
-%>
    <h2 class="report_subtitle">
      Task data for <%= @report.display_range %>
      <%= ( @report.filtered_users.empty? ) ? '(all users)' : '(selected users only)' %>
    </h2>

<% if ( @report.filtered_tasks.empty? ) -%>
    <p>
      No tasks matching your report&rsquo;s specification can be found.
    </p>
<% elsif ( @report.rows.empty? ) -%>
    <p>
      There are no non-zero totals for rows in the requested report.
    </p>
<% else -%>
    <p></p>
    <table class="report display_table ts_show_table">

      <!-- Heading - show dates/totals based on report frequency -->

      <tr class="info">
        <th>&nbsp;</th>

<%   @report.column_ranges.each_index do | col_index | -%>
<%     if ( @report.partial_column?( col_index ) ) -%>
        <th><%= @report.column_heading( col_index ) %> (partial)</th>
<%     else -%>
        <th><%= @report.column_heading( col_index ) %></th>
<%     end -%>
<%   end -%>

        <th>Row total</th>
<%   if ( @report.filtered_users.empty? ) -%>
        <th>Duration</th>
        <th>Remaining</th>
<%   end -%>
      </tr>

      <!-- Section and task list, date range breakdown -->

<%   sections_initialise_sections()
     @report.rows.each_index do | row_index |

       row  = @report.rows[ row_index ]
       task = @report.filtered_tasks[ row_index ]

       if ( sections_new_section?( task ) )
         row_class = cycle( 'even', 'odd' ) -%>
      <!-- New section -->

      <tr class="<%= row_class %>">
        <th class="ts_show_heading"><%= sections_section_title() %></th>
<%       row.cells.each_index do | col_index | -%>
        <th class="ts_show_heading ts_show_work"><%= reporthelp_hours( @report.sections[ sections_section_index() ].cells[ col_index ] ) %></th>
<%       end -%>
        <th class="ts_show_heading ts_show_work"><%= reporthelp_hours( @report.sections[ sections_section_index() ], true ) %></th>
<%       if ( @report.filtered_users.empty? ) -%>
        <th class="ts_show_heading" colspan="2">&nbsp;</th>
<%       end -%>
      </tr>
<%     end -%>

<%     if ( sections_new_group?( task ) ) -%>
      <!-- New group -->

      <tr class="even group_gap">
        <th colspan="<%= @report.column_count + ( @report.filtered_users.empty? ? 4 : 2 ) %>"></th>
      </tr>

<%     end -%>
      <!-- Task data -->

      <tr class="ts_show_row <%= cycle( 'even', 'odd' ) %>">
        <td class="ts_show_task <%= taskhelp_billable_class( task ) %> <%= taskhelp_active_class( task ) %>">
          <%= sections_augmented_link( task ) %>
        </td>

        <!-- Task breakdown -->

<%     row.cells.each do | cell | -%>
        <td class="ts_show_work"><%= reporthelp_hours( cell ) %></td>
<%     end -%>

        <!-- Task total -->

        <th class="ts_show_total total"><%= reporthelp_hours( row, true ) %></th>
<%     if ( @report.filtered_users.empty? ) -%>
<%       if ( task.duration == 0.0 ) -%>
        <td class="ts_show_work">&nbsp;</td>
        <td class="ts_show_work">&nbsp;</td>
<%        else -%>
        <td class="ts_show_work"><%= apphelp_terse_hours( task.duration ) %></td>
        <td class="ts_show_work">
          <%= reporthelp_decorated_hours( task.duration - row.committed, task.duration - row.total ) %>
        </td>
<%       end -%>
<%     end -%>
      </tr>
<%   end -%>

      <!-- Column totals -->

      <tr class="<%= cycle( 'even', 'odd' ) %>">
        <th class="total">Column total:</th>

<%   @report.column_totals.each do | total | -%>
        <td class="total"><%= reporthelp_hours( total, true ) %></td>
<%   end -%>

        <td class="overall_total"><%= reporthelp_hours( @report, true ) %></td>
<%   if ( @report.filtered_users.empty? ) -%>
        <td class="total">
          <%= apphelp_terse_hours( @report.total_duration, true ) %>
        </td>
        <td class="total">
<%     if ( @report.total_actual_remaining.nil? ) -%>
          &nbsp;
<%     else -%>
          <%= reporthelp_decorated_hours( @report.total_actual_remaining, @report.total_potential_remaining ) %>
<%     end -%>
        </td>
<%   end -%>
      </tr>
    </table>

<%=  render( { :partial => 'export_elements', :locals  => { :form_type => :task } } ) %>
<% end -%>