<%-
# Based on "@report", render a user summary report. Only render if the
# report's "users" array is not empty, indicating that a selection of
# users has been made.
-%>
<% if ( @report.filtered_tasks.empty? or @report.filtered_users.empty? ) -%>
    <h2 class="report_subtitle">User summaries for <%= @report.display_range %></h2>
<%   if ( @report.filtered_users.empty? and not @report.users.empty? ) -%>
    <p>
      None of the selected users booked any hours against the reportable tasks
      within the time range specified.
    <p>
<%   else -%>
    <p>
      Cannot find any tasks or users for this report.
    </p>
<%   end -%>
<% else %>
    <!-- Per-user summaries -->

    <h2 class="report_subtitle">User summaries for <%= @report.display_range %></h2>

    <table class="report display_table ts_show_table">

      <!-- Heading - show user names -->

      <tr class="info">
        <th class="total">Name:</th>

<%   @report.each_user do | user | -%>
        <th><%= h( user.name ) %></th>
<%   end -%>

        <th>Row total</th>
      </tr>

      <!-- Section and task list, user breakdown -->

<%   @report.each_row do | row, task |
       section, is_new_section, group, is_new_group = @report.retrieve( task.id.to_s )

       if ( is_new_section )
         row_class = cycle( 'even', 'odd' ) -%>
      <!-- New section -->

      <tr class="<%= row_class %>">
        <th class="ts_show_heading"><%= section.title( self ) %></th>
<%       @report.each_user do | user | -%>
        <th class="ts_show_heading ts_show_work"><%= reporthelp_hours( section.try( :user_total, user.id.to_s ) ) %></th>
<%       end -%>
        <th class="ts_show_heading ts_show_work"><%= reporthelp_hours( section, true ) %></th>
      </tr>
<%     elsif ( is_new_group ) -%>
      <!-- New group -->

      <tr class="even group_gap">
        <th colspan="<%= @report.user_count() + 2 %>"></th>
      </tr>

<%     end -%>
      <!-- Task data -->

      <tr class="ts_show_row <%= cycle( 'even', 'odd' ) %>">
        <td class="ts_show_task <%= taskhelp_billable_class( task ) %> <%= taskhelp_active_class( task ) %>"><%= h( task.title ) %></td>

        <!-- Per-user breakdown -->

<%     @report.each_user do | user | -%>
        <td class="ts_show_work"><%= reporthelp_hours( row.try( :user_total, user.id.to_s ) ) %></td>
<%     end -%>

        <!-- Task total -->

        <th class="ts_show_total total"><%= reporthelp_hours( row, true ) %></th>
      </tr>
<%   end -%>

      <!-- Column totals -->

      <tr class="<%= cycle( 'even', 'odd' ) %>">
        <th class="total">Column total:</th>

<%   @report.each_user do | user | -%>
        <td class="total"><%= reporthelp_hours( @report.try( :user_total, user.id.to_s ), true ) %></td>
<%   end -%>

        <td class="overall_total"><%= reporthelp_hours( @report, true ) %></td>
      </tr>
    </table>

<% end -%>