    <h1><%= @report.label %> report<%= @report.title.empty? ? '' : " \"#{ h( @report.title ) }\"" %></h1>

    <p>
      <%= taskhelp_billable_help %> <%= taskhelp_active_help %>
    </p>

    <%= form_for( :report, { :url => { :action => 'show' }, :method => :get } ) do | f | %><%= hidden_field_tag( :generator, "1" ) %>

<%= render :partial => 'comprehensive' %>
<%= render :partial => 'tasks' %>
<%= render :partial => 'users' %>
<%= "    " %><% end %>

    <!-- Form to modify report, make new report, cancel -->

    <br />
    <br />
    <div class="centred">
      <%= link_to( 'Change report parameters', edit_user_saved_report_path( :id => @saved_report.id, :user_id => @saved_report.user_id ) ) %>,
      <%= link_to( 'create a new report', new_user_saved_report_path( :user_id => @saved_report.user_id ) ) %> or
      <%= link_to( 'cancel', home_path() ) %>.

<% if ( @saved_report.shared? ) -%>
      <br />
      <br />
      The share URI for this report is:
      <%= link_to( report_url(), report_path() ) %>
<% else -%>
      This report is not shared.
<% end -%>
    </div>