    <h1><%= @report.label %> report<%= @report.title.empty? ? '' : " '#{ h( @report.title ) }'" %></h1>

    <h2>
      Task data for <%= @report.display_range %>
      <%= ( @report.filtered_users.empty? ) ? '(all users)' : '(selected users only)' %>
    </h2>

<% if ( @report.filtered_tasks.empty? ) -%>
    <p>
      No tasks matching your report&rsquo;s specification can be found.
    </p>
<% elsif ( @report.rows.empty? ) -%>
    <p>
      There are no non-zero totals for rows in the requested report.
    </p>
<% else -%>
    <p></p>
    <%= taskhelp_billable_help %> <%= taskhelp_active_help %>
    
    <p></p>
    <table class="report display_table ts_show_table">

      <!-- Heading - show dates/totals based on report frequency -->

      <tr class="info">
        <th>&nbsp;</th>

<%   @report.column_ranges.each_index do | col_index | -%>
<%     if ( @report.partial_column?( col_index ) ) -%>
        <th><%= @report.column_heading( col_index ) %> (partial)</th>
<%     else -%>
        <th><%= @report.column_heading( col_index ) %></th>
<%     end -%>
<%   end -%>

        <th>Row total</th>
<%   if ( @report.filtered_users.empty? ) -%>
        <th>Duration</th>
        <th>Remaining</th>
<%   end -%>
      </tr>

      <!-- Section and task list, date range breakdown -->

<%   sections_initialise_sections()
     @report.rows.each_index do | row_index |

       row  = @report.rows[ row_index ]
       task = @report.filtered_tasks[ row_index ]

       if ( sections_new_section?( task ) )
         row_class = cycle( 'even', 'odd' ) -%>
      <!-- New section -->

      <tr class="<%= row_class %>">
        <th class="ts_show_heading"><%= sections_section_title() %></th>
<%       row.cells.each_index do | col_index | -%>
        <th class="ts_show_heading ts_show_work"><%= reporthelp_hours( @report.sections[ sections_section_index() ].cells[ col_index ] ) %></td>
<%       end -%>
        <th class="ts_show_heading ts_show_work"><%= reporthelp_hours( @report.sections[ sections_section_index() ], true ) %></th>
<%       if ( @report.filtered_users.empty? ) -%>
        <th class="ts_show_heading" colspan="2">&nbsp;</th>
<%       end -%>
      </tr>
<%     end -%>

<%     if ( sections_new_group?( task ) ) -%>
      <!-- New group -->

      <tr class="even group_gap">
        <th colspan="<%= @report.column_count + ( @report.filtered_users.empty? ? 4 : 2 ) %>"></th>
      </tr>

<%     end -%>
      <!-- Task data -->

      <tr class="ts_show_row <%= cycle( 'even', 'odd' ) %>">
        <td class="ts_show_task <%= taskhelp_billable_class( task ) %> <%= taskhelp_active_class( task ) %>">
          <%= sections_augmented_link( task ) %>
        </td>

        <!-- Task breakdown -->

<%     row.cells.each do | cell | -%>
        <td class="ts_show_work"><%= reporthelp_hours( cell ) %></td>
<%     end -%>

        <!-- Task total -->

        <th class="ts_show_total total"><%= reporthelp_hours( row, true ) %></th>
<%     if ( @report.filtered_users.empty? ) -%>
<%       if ( task.duration == 0.0 ) -%>
        <td class="ts_show_work">&nbsp;</td>
        <td class="ts_show_work">&nbsp;</td>
<%        else -%>
        <td class="ts_show_work"><%= apphelp_terse_hours( task.duration ) %></td>
        <td class="ts_show_work">
          <%= reporthelp_decorated_hours( task.duration - row.committed, task.duration - row.total ) %>
        </td>
<%       end -%>
<%     end -%>
      </tr>
<%   end -%>

      <!-- Column totals -->

      <tr class="<%= cycle( 'even', 'odd' ) %>">
        <th class="total">Column total:</th>

<%   @report.column_totals.each do | total | -%>
        <td class="total"><%= reporthelp_hours( total, true ) %></td>
<%   end -%>

        <td class="overall_total"><%= reporthelp_hours( @report, true ) %></td>
<%   if ( @report.filtered_users.empty? ) -%>
        <td class="total">
          <%= apphelp_terse_hours( @report.total_duration, true ) %>
        </td>
        <td class="total">
<%     if ( @report.total_actual_remaining.nil? ) -%>
          &nbsp;
<%     else -%>
          <%= reporthelp_decorated_hours( @report.total_actual_remaining, @report.total_potential_remaining ) %>
<%     end -%>
<%   end -%>
        </td>
      </tr>
    </table>

<%= render( { :partial => 'export_csv', :locals  => { :form_type => :task } } ) %>
<% end -%>

<% if ( @report.filtered_tasks.empty? or @report.filtered_users.empty? ) -%>
<%   if ( @report.filtered_users.empty? and not @report.users.empty? ) -%>
    <h2>User summaries</h2>
    
    <p>
      There are no users with non-zero total hours booked across the
      selected tasks.
    <p>
<%   end -%>
<% else %>
    <!-- Per-user summaries -->

    <h2>User summaries for <%= @report.display_range %></h2>

    <table class="report display_table ts_show_table">

      <!-- Heading - show user names -->

      <tr class="info">
        <th class="total">Name:</th>

<%   @report.filtered_users.each do | user | -%>
        <th><%= h( user.name ) %></th>
<%   end -%>

        <th>Row total</th>
      </tr>

      <!-- Section and task list, user breakdown -->

<%   sections_initialise_sections()
     @report.rows.each_index do | row_index |

       row  = @report.rows[ row_index ]
       task = @report.filtered_tasks[ row_index ]

       if ( sections_new_section?( task ) )
         row_class = cycle( 'even', 'odd' ) -%>
      <!-- New section -->

      <tr class="<%= row_class %>">
        <th class="ts_show_heading"><%= sections_section_title() %></th>
<%       @report.filtered_users.each_index do | user_index | -%>
        <th class="ts_show_heading ts_show_work"><%= reporthelp_hours( @report.sections[ sections_section_index() ].user_row_totals[ user_index ] ) %></td>
<%       end -%>
        <th class="ts_show_heading ts_show_work"><%= reporthelp_hours( @report.sections[ sections_section_index() ], true ) %></th>
      </tr>
<%     end -%>
<%     if ( sections_new_group?( task ) ) -%>
      <!-- New group -->

      <tr class="even group_gap">
        <th colspan="<%= @report.filtered_users.size + 2 %>"></th>
      </tr>

<%     end -%>
      <!-- Task data -->

      <tr class="ts_show_row <%= cycle( 'even', 'odd' ) %>">
        <td class="ts_show_task <%= taskhelp_billable_class( task ) %> <%= taskhelp_active_class( task ) %>"><%= h( task.title ) %></td>

        <!-- Per-user breakdown -->

<%     row.user_row_totals.each do | user_row_total | -%>
        <td class="ts_show_work"><%= reporthelp_hours( user_row_total ) %></td>
<%     end -%>

        <!-- Task total -->

        <th class="ts_show_total total"><%= reporthelp_hours( row, true ) %></th>
      </tr>
<%   end -%>

      <!-- Column totals -->

      <tr class="<%= cycle( 'even', 'odd' ) %>">
        <th class="total">Column total:</th>

<%   @report.user_column_totals.each do | user_column_total | -%>
        <td class="total"><%= reporthelp_hours( user_column_total, true ) %></td>
<%   end -%>

        <td class="overall_total"><%= reporthelp_hours( @report, true ) %></td>
      </tr>
    </table>

<%= render( { :partial => 'export_csv', :locals  => { :form_type => :user } } ) %>
<% end -%>

    <!-- Form to modify report, make new report, cancel -->

    <br />
    <br />
    <div class="centred">
      <%= link_to( 'Change report parameters', edit_user_saved_report_path( :id => @saved_report.id, :user_id => @saved_report.user_id ) ) %>,
      <%= link_to( 'create a new report', new_user_saved_report_path( :user_id => @saved_report.user_id ) ) %> or
      <%= link_to( 'cancel', home_path() ) %>.

<% if ( @saved_report.shared? ) -%>
      <br />
      <br />
      The share URI for this report is:
      <%= link_to( report_url(), report_path() ) %>
<% else -%>
      This report is not shared.
<% end -%>
    </div>