<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
<%= raw( ( csrf_meta_tags || '' ).gsub( /^/, '    ' ) ) %>

    <title><%= apphelp_title() %></title>

    <%= javascript_include_tag( "application" ) %>
<%= include_prototype_if_used( '    ' ) -%>
<%= include_leightbox_if_used( '    ' ) -%>
<%= include_yui_tree_if_used( '    ' ) -%>
<%= raw( javascript_include_tag( controller.controller_name ).gsub( /^/, '    ' ) ) if Rails.application.assets.find_asset( "#{ controller.controller_name }.js" ) %>
<% if ( controller.controller_name == 'timesheets' ) -%>
<%   if ( action_name == 'show' ) -%>
    <%= javascript_include_tag( 'trackrecord/timesheet_viewer'  ) %>
<%   elsif ( action_name != 'index' ) -%>
    <%= javascript_include_tag( 'trackrecord/timesheet_editor'  ) %>
    <%= javascript_include_tag( 'trackrecord/check_box_toggler' ) %>
<%   end -%>
<% end -%>
<% if ( action_name == 'index' ) -%>
    <%= javascript_include_tag( 'safe_in_place_editing' ) %>
<% end -%>
<% if ( controller.controller_name == 'saved_reports' || controller.controller_name == 'timesheet_force_commits' || action_name == 'index' ) -%>
<%= raw( calendar_date_select_includes().gsub( /^/, '    ' ) ) %>
<% end -%>
    <%= stylesheet_link_tag( 'scaffold',          :media => :all   )%>
    <%= stylesheet_link_tag( 'trackrecord_all',   :media => :all   )%>
    <%= stylesheet_link_tag( 'trackrecord_print', :media => :print )%>

    <link href="<%= image_path( '/favicon.ico' ) %>" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  </head>

  <body><div id="container">

    <!-- Header with navigation bar -->

    <div id="header">
      <div id="title">
        <h1>TrackRecord <span class="version">v2.25</span></h1>
        <span class="slug"><%= raw( apphelp_slug() ) %></span>
      </div>
      <div id="navbar">
        <ul>
<% if ( @current_user.nil? ) -%>
          <li class="current"><%= link_to( 'Sign in', signin_path() ) %></li>
<% else -%>
<% current = ' class="current"'

   class1  = ( controller.controller_name == 'users' and ( action_name == 'edit' or action_name == 'show' ) and params[ :id ] == @current_user.id.to_s ) ? current : ''
   class2  = ( controller.controller_name == 'saved_reports' || controller.controller_name == 'reports' ) ? current : ''
   class3  = ( controller.controller_name == 'timesheets' ) ? current : ''
   class4  = ( controller.controller_name == 'users' and action_name == 'home' ) ? current : ''
-%>
          <li<%= raw( class1 ) %>><%= link_to( 'Account', edit_user_path( @current_user ) ) %></li>
          <li<%= raw( class2 ) %>><%= link_to( 'Reports', user_saved_reports_path( @current_user ) ) %></li>
          <li<%= raw( class3 ) %>><%= link_to( 'Timesheets', new_timesheet_path() ) %></li>
          <li<%= raw( class4 ) %>><%= link_to( 'Home', home_path() ) %></li>
<% end -%>
        </ul>
      </div>
    </div>

    <!-- Main page content -->

    <div id="main_page_content">

<%= apphelp_flash_messages() -%>
<%= yield %>

    </div>

    <!-- Footer -->

    <div id="footer" class="float_clear">
      <div><a href="http://trackrecord.pond.org.uk/">TrackRecord</a> by <a href="http://hipposoft.pond.org.uk/">Hipposoft</a> 2007-2013</div>
      <div><%= apphelp_sign_or_signed_in() %></div>
    </div>
  </div></body>
</html>
